<div class="main-sidebar sidebar-style-2" tabindex="1" style="overflow: hidden; outline: none;">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/">Sugar Site</a>
      </div>
      {{!-- <div class="sidebar-brand sidebar-brand-sm">
        <a href="/">SS</a>
      </div> --}}
      <ul class="sidebar-menu">
        <li class="active"><a class="nav-link" href="/"><i class="fab fa-fort-awesome"></i><span>首页</span></a></li>
        <li><a class="nav-link" href="#"><i class="fas fa-store"></i><span>商店</span></a></li>
        <li class="menu-header">我的</li>
        <li><a class="nav-link" href="#"><i class="fas fa-user"></i><span>账号设置</span></a></li>
        <li><a class="nav-link" href="#t"><i class="fas fa-wallet"></i><span>钱包设置</span></a></li>
        <li><a class="nav-link" href="#"><i class="fas fa-laugh-squint"></i> <span>邀请注册</span></a></li>
        <li class="menu-header">使用</li>
        <li><a class="nav-link" href="#"><i class="fas fa-book"></i><span>教程</span></a></li>
        <li><a class="nav-link" href="/site"><i class="fas fa-tasks"></i><span>网站</span></a></li>
        <li><a class="nav-link" href="#"><i class="fas fa-stream"></i><span>刷课记录</span></a></li>
        <li class="dropdown">
          <a href="#ticket" class="nav-link has-dropdown"><i class="fas fa-headset"></i><span>订单系统</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="#"><span>新建订单</span></a></li>
            <li><a class="nav-link" href="#">订单列表</a></li>
          </ul>
        </li>
      </ul>

      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fab fa-telegram-plane"></i>加入QQ群
        </a>
      </div>
    </aside>
  </div>