<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/theme/css/style.min.css">
    <link rel="stylesheet" href="/theme/css/components.min.css">

    {{{block "css"}}}
</head>

<body>
{{{body}}}
{{!-- General JS Scripts --}}
<script src="/js/jquery.min.js"></script>
<script src="/js/plugin/popper.js"></script>
<script src="/js/plugin/tooltip.js"></script>
<script src="/js/bootstrap.min.js"></script>
{{{block "js"}}}
<script src="/js/scripts.js"></script>
<script>
    function logout() {
        deleteCookie('sysUserId');
        deleteCookie('email');
        deleteCookie('token');
        window.location.href = '/login'
    }

    /**
     * 设置cookie
     * @param {string} name  键名
     * @param {string} value 键值
     * @param {integer} days cookie周期
     */
    function setCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }else{
            var expires = "";
        }
        document.cookie = name+"="+value+expires+"; path=/";
    }
    // 获取cookie
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    // 删除cookie
    function deleteCookie(name) {
        setCookie(name,"",-1);
    }
</script>
</body>

</html>
